{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"{% if page.url != '/contact.html'%} manifest="manifest.appcache"{% endif %}> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="author" href="{{ site.googleplus }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/boostrap-files/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/animate.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/style.css" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/color.css" rel="stylesheet" data-color="color-blue" id="stylesheet-new">
    <link type="text/css" media="all" href="{{ site.url }}/assets/css/responsive.css" rel="stylesheet" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#492ca2">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#492ca2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <!-- Favicons -->
    <meta name="msapplication-TileImage" content="{{ site.url }}/images/favicon.jpg">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.jpg" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/favicon.jpg" />
    <!-- Schema.org -->
    <meta property="og:image" content="{{ site.url }}/images/favicon.jpg" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.name }}'s Blog" />
    <meta property="og:type" content="blog" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator:id" content="{{ site.name }}" />
    <meta name="twitter:url" content="{{ site.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image:src" content="{{ site.url }}/images/favicon.jpg" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=The+Girl+Next+Door:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="animationload">
        <div class="loader"></div>
    </div>
    <div id="wraper">

{{ content }}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 lato">
                    <a href="tel:{{ site.phone_noFormat }}" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> {{ site.phone }}
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 lato">
                    <a href="/contact.html" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> {{ site.email }}
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 lato">
                    <a href="/contact.html" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span> {{ site.address }}
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 text-right lato">
                    <span class="copyright">Copyright &copy; {{ site.time | date: '%Y' }}</span>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- Scroll to Top -->
<a href="#" class="btn scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<script src="{{ site.url }}/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/boostrap-files/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.appear.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.nicescroll.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.inview.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.knob.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/scripts.js" type="text/javascript"></script>
{% if page.url == '/index.html'%}<script src="{{ site.url }}/assets/js/TweenMax.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/menu.js" type="text/javascript"></script>{% endif %}
{% if page.url == '/'%}<script src="{{ site.url }}/assets/js/TweenMax.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/menu.js" type="text/javascript"></script>{% endif %}
{% if page.url == '/contact.html'%}<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    "use strict";
    var map;
    function initialize_map() {

        if ($('.map').length) {
            var myLatLng = new google.maps.LatLng(27.950778, 80.777547);
            var mapOptions = {
                zoom: 7,
                center: myLatLng,
                scrollwheel: false,
                panControl: false,
                zoomControl: true,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{ site.name }}',
                icon: '{{ site.url }}/assets/img/marker-' + $('#stylesheet-new').attr('data-color') + '.png'
            });
        } else {
            return false;
        }

    }
    google.maps.event.addDomListener(window, 'load', initialize_map);
});
</script>{% endif %}
</body>
</html>
